#pushedGrids {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 112.5px;
    height: 112.5px;
}
@keyframes slideIn {
    from {
      top: -900px; 
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }